body {
  margin: 25px;
  opacity: 0;
  transition: opacity 300ms;
}

body[data-state] {
  opacity: 1;
}

.section.hasPin,
.section.noPin,
.title.hasPin,
.title.noPin {
  display: none;
}

body[data-state="hasPin"] .hasPin {
  display: block;
}

body[data-state="noPin"] .noPin {
  display: block;
}

#paneUpdatePin {
  display: none;
}

#updatePinSection.active #paneUpdatePin {
  display: block;
}

#updatePinSection.active #btnUpdatePinStart {
  display: none;
}

#message.error {
  color: #a00;
}

input.error {
  border: 1px solid #a00;
}

input.error:focus {
  outline-color: #a00;
}
