html {
  min-width: 250px;
}

h1 {
  font-size: 15px;
}

h2 {
  font-size: 9px;
}

.remove-unblock-section {
  display: none;
}

.remove-unblock-all-section {
  display: none;
}

.logo {
  height: 1.5em;
  padding-left: 0.5em;
  position: absolute;
  filter: grayscale(0.3);
  opacity: 0.9;
}
