html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

body {
    padding: 25px;
}

button {
    min-width: 48px;
    min-height: 48px;
    background: #22A;
    color: white;
}

input {
    min-height: 40px;
    font-size: 25px;
    margin-bottom: 15px;
}